{% extends 'base.html' %}
{% block content %}

{% if res %}
<!-- Jumbotron Header -->
<header class="jumbotron my-4">
    <h1 class="display-3">Search Results</h1>
    <p class="lead">Search results for "{{ term }}"</p>
    {% if not g.user %}
    <a href="/users/login" class="btn btn-primary">Log in to start mixing...</a>
    {% else %}
    <a href="/users/{{ g.user.id }}" class="btn btn-primary">See your saved recipes</a>
    <a href="/users/new-drink" class="btn btn-success">Create Your Own</a>
    {% endif %}
</header>

<div class="row text-center">
    {% for drink in res %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="{{ drink.strDrinkThumb }}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{ drink.strDrink }}</h4>
                <p class="card-text">{{ drink.strInstructions[0:150] + "..." }}</p>
            </div>
            <div class="card-footer">
                <a href="/drinks/{{ drink.idDrink }}" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}

<!-- Jumbotron Header -->
<header class="jumbotron my-4">
    <h1 class="display-3">Search Results</h1>
    <p class="lead">Oops, it lookes like there weren't any results for "{{ term }}". Please try another search term</p>
    {% if not g.user %}
    <a href="/users/login" class="btn btn-primary">Log in to start mixing...</a>
    {% else %}
    <a href="/users/{{ g.user.id }}" class="btn btn-primary">See your saved recipes</a>
    <a href="/users/new-drink" class="btn btn-success">Create Your Own</a>
    {% endif %}
</header>


{% endif %}



{% endblock %}