{% extends 'base.html' %}
{% block content %}

<!-- Jumbotron Header -->
<header class="jumbotron my-5">
    <h1 class="display-3">Hi, {{ g.user.username }}</h1>
    <p class="lead">Fill out the form to update your username or email address.</p>
</header>

<div class="row justify-content-md-center m-5">
    <div class="col-md-7 col-lg-5">
        <h2 class="join-message">Update Form:</h2>
        <form method="POST" id="user_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control m-3") }}
            {% endfor %}

            <button class="btn btn-primary btn-lg btn-block">Update</button>
        </form>
    </div>
</div>

{% endblock %}