{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-md-center m-5">
    <div class="col-md-7 col-lg-5 m-5">
        <h2 class="join-message">Join the Cocktail Curator</h2>
        <form method="POST" id="user_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control m-3") }}
            {% endfor %}

            <button class="btn btn-primary btn-lg btn-block">Sign me up!</button>
        </form>
        <div class="container">
            <p>Already have an account?</p>
            <a href="/users/login">Sign in here!</a>
        </div>
    </div>
</div>

{% endblock %}